server:
  port: 8083

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5434/orderdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enable: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true